<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Du_an_1_hieu"
        tools:targetApi="31">

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_API_KEY" />


        <activity
            android:name=".framgent_admin.MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".framgment_custom.hotrokhachhang"
            android:exported="false" />
        <activity
            android:name=".framgent_admin.lienHe"
            android:exported="false" />
        <activity
            android:name=".Dang_ky"
            android:exported="false" />
        <activity
            android:name=".framgment_custom.MainActivity_chi_tiet_ls"
            android:exported="false" />
        <activity
            android:name=".framgment_custom.MainActivity_chi_tiet_dt"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".framgment_custom.MainActivity_gio_hang_custom"
            android:exported="false" />
        <activity
            android:name=".Dangnhap"
            android:exported="false" />
        <activity
            android:name=".Trangchu"
            android:exported="false" />
        <activity
            android:name=".Manhinhcho"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>